# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.tres filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.import filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.tscn filter=lfs diff=lfs merge=lfs -text
*.gd filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.theme filter=lfs diff=lfs merge=lfs -text
*.godot filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.uid filter=lfs diff=lfs merge=lfs -text
*.2 filter=lfs diff=lfs merge=lfs -text
/addons/godot-git-plugin/LICENSE filter=lfs diff=lfs merge=lfs -text
*.gdextension filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
/addons/godot_state_charts/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
