##  Text File Tracking

# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# TODO: add linguist-language tags
# split sections into small sections + better organization
# Built-In Diff Algorithms: Documents
*.bibtex text diff=bibtex
*.css text diff=css
*.scss text diff=css
*.fountain text diff=fountain
*.htm text diff=html
*.html text diff=html
*.xhtml text diff=html
*.markdown text diff=markdown
*.md text diff=markdown
*.mdown text diff=markdown
*.mdwn text diff=markdown
*.mdx text diff=markdown
*.mkd text diff=markdown
*.mkdn text diff=markdown
*.tex text diff=tex
*.toml text diff=toml
# Built-In Diff Algorithms: Source Files
*.bash text diff=bash
*.fish text diff=bash
*.ksh text diff=bash
*.sh text diff=bash
*.zsh text diff=bash
*.c text diff=cpp
*.c++ text diff=cpp
*.cc text diff=cpp
*.cpi text diff=cpp
*.cpp text diff=cpp
*.cxx text diff=cpp
*.h text diff=cpp
*.h++ text diff=cpp
*.hh text diff=cpp
*.hpp text diff=cpp
*.cs text diff=csharp
*.csx text diff=csharp
*.fs text diff=fsharp
*.fsx text diff=fsharp
*.cshtml text diff=html
*.gradle text diff=java
*.groovy text diff=java
*.java text diff=java
*.scala text diff=java
*.gradle.kts text diff=kotlin
*.kt text diff=kotlin
*.php text diff=php
*.phpt text diff=php
*.phtml text diff=html
*.pl text diff=perl
*.pm text diff=perl
*.pxd text diff=python
*.py text diff=python
*.py3 text diff=python
*.pyi text diff=python
*.pyw text diff=python
*.pyx text diff=python
*.pyz text diff=python
*.rb text diff=ruby
*.rs text diff=rust
# Define a dummy ours merge strategy with:
# $ git config --global merge.ours.driver true
schema.rb merge=ours diff=ruby
# Visual Studio Code
*.csproj text eol=crlf
*.fsproj text eol=crlf
*.sln text eol=crlf
*.slnx text eol=crlf
# Source Files
*.asm text
*.bas text
*.cginc text
*.cjs text
*.coffee text
*.compute text linguist-language=hlsl
*.hlsl text linguist-language=hlsl
*.inc text
*.ini text
*.js text
*.jsp text
*.jspf text
*.jspx text
*.jsx text
*.less text
*.ls text
*.lua text
*.map text -diff
*.mjs text
*.mml text
*.od text
*.onlydata text
*.pas text
*.raytrace text linguist-language=hlsl
*.sass text
*.scm text
*.shader text
*.sql text
*.styl text
*.ts text
*.tss text diff=css linguist-language=css
*.tsx text
*.twig text
*.uss text diff=css linguist-language=css
*.uxml text linguist-language=xml linguist-detectable
# Force Microsoft batch scripts to always use CRLF line endings so that if a repo 
# is accessed in Windows via a file share from Linux, the scripts will work.
*.{bat,[bB][aA][tT]} text eol=crlf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf
# Powershell
*.cdxml text eol=crlf diff=xml
*.msh eol=crlf
*.msh1 text eol=crlf
*.msh1xml text eol=crlf diff=xml
*.msh2 text eol=crlf
*.msh2xml text eol=crlf diff=xml
*.mshxml text eol=crlf diff=xml
*.ps1 text eol=crlf
*.ps1x text eol=crlf diff=xml
*.ps1xml text eol=crlf diff=xml
*.psd1 text eol=crlf
*.psm1 text eol=crlf
*.psrc text eol=crlf
*.pssc text eol=crlf
# Templates
*.dot text
*.ejs text
*.erb text
*.haml text
*.handlebars text
*.hbs text
*.hbt text
*.jade text
*.latte text
*.mustache text
*.njk text
*.svelte text
*.tmpl text
*.tpl text
*.vue text
# Palettes
*.gpl text
*.hex text
*.pal text
# Serialisation & Configuration
*.asmdef text linguist-language=json
*.asmref text linguist-language=json
*.aup text
*.cnf text
*.conf text
*.config text
*.index text linguist-language=json
*.inputactions text linguist-language=json
*.json text
*.lock text -diff
*.properties text
*.shadergraph text linguist-language=json
*.shadersubgraph text linguist-language=json
*.srt text
*.tag text
*.tagx text
*.tld text
*.tsv text
*.xml text
*.yaml text
*.yml text
# Ignore files (like .npmignore or .gitignore)
*.*ignore text 
# RC files (like .babelrc or .eslintrc)
*.*rc text 
.editorconfig text
.gitattributes text
.gitconfig text
.htaccess text
.prettierrc text
browserslist text
Cargo.lock text
Dockerfile text
gradlew text
Makefile text
makefile text
mvnw text
package.json text
package-lock.json text -diff
phpcs.xml text
phpstan.neon text
phpunit.xml text
pnpm-lock.yaml text -diff
Procfile text
psalm.xml text
yarn.lock text -diff
# Fixes syntax highlighting on GitHub to allow comments
tsconfig.json linguist-language=JSON-with-Comments
# Plain Text
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.DOT diff=astextplain
*.epub diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain
# Documents
*.adoc text
*.fdx text
*.ipynb text
*.tab text
*.textile text
*.txt text
AUTHORS text
CHANGELOG text
CHANGES text
CONTRIBUTING text
COPYING text
copyright text
INSTALL text
license text
LICENSE text
NEWS text
readme text
TODO text
# Misc Godot Text (not sure if correct format)
*.cfg text
*.csv text eol=crlf
*.gd text
*.gdextension text
*.gdshade text
*.gdshadeinc text
*.import text
*.mtl text
*.po text
*.tres text
*.tscn text
*.uid text
project.godot text
# Unity YAML files (just in case)
*.asset text linguist-language=yaml
*.brush text linguist-language=yaml
*.controller text linguist-language=yaml
*.flare text linguist-language=yaml
*.fontsettings text linguist-language=yaml
*.giparams text linguist-language=yaml
*.guiskin text linguist-language=yaml
*.lighting text linguist-language=yaml
*.mask text linguist-language=yaml
*.mat text linguist-language=yaml
*.meta text linguist-language=yaml
*.mixer text linguist-language=yaml
*.overrideController text linguist-language=yaml
*.playable text linguist-language=yaml
*.prefab text linguist-language=yaml
*.preset text linguist-language=yaml
*.renderTexture text linguist-language=yaml
*.scenetemplate text linguist-language=yaml
*.shadervariants text linguist-language=yaml
*.signal text linguist-language=yaml
*.spriteatlas text linguist-language=yaml
*.spriteatlasv2 text linguist-language=yaml
*.terrainlayer text linguist-language=yaml
*.unity text linguist-language=yaml
# "physic" for 3D but "physics" for 2D
*.physicMaterial text linguist-language=yaml
*.physicsMaterial2D text linguist-language=yaml
# Text files where line endings should be preserved
*.diff -text
*.patch -text
##  Git LFS Tracking (Assets)
# 3D Models
*.3dm filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.c4d filter=lfs diff=lfs merge=lfs -text
*.collada filter=lfs diff=lfs merge=lfs -text
*.dae filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.jas filter=lfs diff=lfs merge=lfs -text
*.lbm filter=lfs diff=lfs merge=lfs -text
*.lws filter=lfs diff=lfs merge=lfs -text
*.lxo filter=lfs diff=lfs merge=lfs -text
*.ma filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.mb filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.skp filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.vox filter=lfs diff=lfs merge=lfs -text
*.ztl filter=lfs diff=lfs merge=lfs -text
# Archives
*.7z filter=lfs diff=lfs merge=lfs -text
*.br filter=lfs diff=lfs merge=lfs -text
*.bz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.bzip filter=lfs diff=lfs merge=lfs -text
*.bzip2 filter=lfs diff=lfs merge=lfs -text
*.cab filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.gzip filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
*.lzma filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.taz filter=lfs diff=lfs merge=lfs -text
*.tbz filter=lfs diff=lfs merge=lfs -text
*.tbz2 filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.tlz filter=lfs diff=lfs merge=lfs -text
*.txz filter=lfs diff=lfs merge=lfs -text
*.tzst filter=lfs diff=lfs merge=lfs -text
*.xar filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.Z filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
# https://www.vgmpf.com
# Audio (split into wavestream, wavesample, fm sythn, psg, and hybrid)
*.2sf filter=lfs diff=lfs merge=lfs -text
*.8svx filter=lfs diff=lfs merge=lfs -text
*.ac3 filter=lfs diff=lfs merge=lfs -text
*.adl filter=lfs diff=lfs merge=lfs -text
*.adlib filter=lfs diff=lfs merge=lfs -text
*.afc filter=lfs diff=lfs merge=lfs -text
*.agd filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
*.aifc filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
*.amf filter=lfs diff=lfs merge=lfs -text
*.amr filter=lfs diff=lfs merge=lfs -text
*.au filter=lfs diff=lfs merge=lfs -text
*.aud filter=lfs diff=lfs merge=lfs -text
*.ay filter=lfs diff=lfs merge=lfs -text
*.bank filter=lfs diff=lfs merge=lfs -text
*.cmf filter=lfs diff=lfs merge=lfs -text
*.cms filter=lfs diff=lfs merge=lfs -text
*.cust filter=lfs diff=lfs merge=lfs -text
*.dls filter=lfs diff=lfs merge=lfs -text
*.dro filter=lfs diff=lfs merge=lfs -text
*.dsf filter=lfs diff=lfs merge=lfs -text
*.dsm filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.gbs filter=lfs diff=lfs merge=lfs -text
*.gro filter=lfs diff=lfs merge=lfs -text
*.gsf filter=lfs diff=lfs merge=lfs -text
*.gsp filter=lfs diff=lfs merge=lfs -text
*.gsw filter=lfs diff=lfs merge=lfs -text
*.ha2 filter=lfs diff=lfs merge=lfs -text
*.hes filter=lfs diff=lfs merge=lfs -text
*.hsq filter=lfs diff=lfs merge=lfs -text
*.imf filter=lfs diff=lfs merge=lfs -text
*.ims filter=lfs diff=lfs merge=lfs -text
*.inf filter=lfs diff=lfs merge=lfs -text
*.it filter=lfs diff=lfs merge=lfs -text
*.itz filter=lfs diff=lfs merge=lfs -text
*.kar filter=lfs diff=lfs merge=lfs -text
*.kss filter=lfs diff=lfs merge=lfs -text
*.lds filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.m32 filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.mdi filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mdy filter=lfs diff=lfs merge=lfs -text
*.mdz filter=lfs diff=lfs merge=lfs -text
*.mff filter=lfs diff=lfs merge=lfs -text
*.mid filter=lfs diff=lfs merge=lfs -text
*.mid! filter=lfs diff=lfs merge=lfs -text
*.midi filter=lfs diff=lfs merge=lfs -text
*.mids filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.mogg filter=lfs diff=lfs merge=lfs -text
*.mp2 filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.msf filter=lfs diff=lfs merge=lfs -text
*.mus filter=lfs diff=lfs merge=lfs -text
*.mxmf filter=lfs diff=lfs merge=lfs -text
*.mym filter=lfs diff=lfs merge=lfs -text
*.nsf filter=lfs diff=lfs merge=lfs -text
*.nsf2 filter=lfs diff=lfs merge=lfs -text
*.nsfe filter=lfs diff=lfs merge=lfs -text
*.oga filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.okt filter=lfs diff=lfs merge=lfs -text
*.okta filter=lfs diff=lfs merge=lfs -text
*.opus filter=lfs diff=lfs merge=lfs -text
*.pat filter=lfs diff=lfs merge=lfs -text
*.pcm filter=lfs diff=lfs merge=lfs -text
*.pcs filter=lfs diff=lfs merge=lfs -text
*.psf filter=lfs diff=lfs merge=lfs -text
*.psf2 filter=lfs diff=lfs merge=lfs -text
*.psid filter=lfs diff=lfs merge=lfs -text
*.qsf filter=lfs diff=lfs merge=lfs -text
*.ra filter=lfs diff=lfs merge=lfs -text
*.reason filter=lfs diff=lfs merge=lfs -text
*.rmi filter=lfs diff=lfs merge=lfs -text
*.rns filter=lfs diff=lfs merge=lfs -text
*.rol filter=lfs diff=lfs merge=lfs -text
*.rsn filter=lfs diff=lfs merge=lfs -text
*.s3m filter=lfs diff=lfs merge=lfs -text
*.s3z filter=lfs diff=lfs merge=lfs -text
*.s98 filter=lfs diff=lfs merge=lfs -text
*.sbk filter=lfs diff=lfs merge=lfs -text
*.sc68 filter=lfs diff=lfs merge=lfs -text
*.scd filter=lfs diff=lfs merge=lfs -text
*.sdb filter=lfs diff=lfs merge=lfs -text
*.sf2 filter=lfs diff=lfs merge=lfs -text
*.sf3 filter=lfs diff=lfs merge=lfs -text
*.sfx filter=lfs diff=lfs merge=lfs -text
*.sgc filter=lfs diff=lfs merge=lfs -text
*.sgt filter=lfs diff=lfs merge=lfs -text
*.sid filter=lfs diff=lfs merge=lfs -text
*.smf filter=lfs diff=lfs merge=lfs -text
*.snd filter=lfs diff=lfs merge=lfs -text
*.sndh filter=lfs diff=lfs merge=lfs -text
*.sng filter=lfs diff=lfs merge=lfs -text
*.snsf filter=lfs diff=lfs merge=lfs -text
*.sop filter=lfs diff=lfs merge=lfs -text
*.spc filter=lfs diff=lfs merge=lfs -text
*.sqx filter=lfs diff=lfs merge=lfs -text
*.sqz filter=lfs diff=lfs merge=lfs -text
*.ssf filter=lfs diff=lfs merge=lfs -text
*.sty filter=lfs diff=lfs merge=lfs -text
*.syx filter=lfs diff=lfs merge=lfs -text
*.tfx filter=lfs diff=lfs merge=lfs -text
*.usf filter=lfs diff=lfs merge=lfs -text
*.vgm filter=lfs diff=lfs merge=lfs -text
*.vgm7z filter=lfs diff=lfs merge=lfs -text
*.vgz filter=lfs diff=lfs merge=lfs -text
*.voc filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.wlf filter=lfs diff=lfs merge=lfs -text
*.wma filter=lfs diff=lfs merge=lfs -text
*.wsr filter=lfs diff=lfs merge=lfs -text
*.xm filter=lfs diff=lfs merge=lfs -text
*.xmf filter=lfs diff=lfs merge=lfs -text
*.xmi filter=lfs diff=lfs merge=lfs -text
*.xmz filter=lfs diff=lfs merge=lfs -text
*.xxx filter=lfs diff=lfs merge=lfs -text
*.ym filter=lfs diff=lfs merge=lfs -text
*.ym5 filter=lfs diff=lfs merge=lfs -text
# Instruments
*.bnk filter=lfs diff=lfs merge=lfs -text
*.ibk filter=lfs diff=lfs merge=lfs -text
*.ins filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.sbi filter=lfs diff=lfs merge=lfs -text
*.tbr filter=lfs diff=lfs merge=lfs -text
*.tim filter=lfs diff=lfs merge=lfs -text
*.tmb filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.PDF filter=lfs diff=lfs merge=lfs -text
# Font & Icon
*.chr filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.esi filter=lfs diff=lfs merge=lfs -text
*.fnt filter=lfs diff=lfs merge=lfs -text
*.fon filter=lfs diff=lfs merge=lfs -text
*.gft filter=lfs diff=lfs merge=lfs -text
*.icn filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
# Images (should split)
*.16 filter=lfs diff=lfs merge=lfs -text
*.256 filter=lfs diff=lfs merge=lfs -text
*.2gs filter=lfs diff=lfs merge=lfs -text
*.4 filter=lfs diff=lfs merge=lfs -text
*.acbm filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.apng filter=lfs diff=lfs merge=lfs -text
*.art filter=lfs diff=lfs merge=lfs -text
*.ase filter=lfs diff=lfs merge=lfs -text
*.aseprite filter=lfs diff=lfs merge=lfs -text
*.avif filter=lfs diff=lfs merge=lfs -text
*.bbm filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.bpg filter=lfs diff=lfs merge=lfs -text
*.c64 filter=lfs diff=lfs merge=lfs -text
*.ca1 filter=lfs diff=lfs merge=lfs -text
*.cal filter=lfs diff=lfs merge=lfs -text
*.cel filter=lfs diff=lfs merge=lfs -text
*.cga filter=lfs diff=lfs merge=lfs -text
*.cm5 filter=lfs diff=lfs merge=lfs -text
*.cmp filter=lfs diff=lfs merge=lfs -text
*.cpc filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.dib filter=lfs diff=lfs merge=lfs -text
*.dng filter=lfs diff=lfs merge=lfs -text
*.ega filter=lfs diff=lfs merge=lfs -text
*.emf filter=lfs diff=lfs merge=lfs -text
*.eps filter=lfs diff=lfs merge=lfs -text
*.exif filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.flc filter=lfs diff=lfs merge=lfs -text
*.fli filter=lfs diff=lfs merge=lfs -text
*.flif filter=lfs diff=lfs merge=lfs -text
*.fuif filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.gifv filter=lfs diff=lfs merge=lfs -text
*.go1 filter=lfs diff=lfs merge=lfs -text
*.gpx filter=lfs diff=lfs merge=lfs -text
*.grb filter=lfs diff=lfs merge=lfs -text
*.grf filter=lfs diff=lfs merge=lfs -text
*.hdp filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.heic filter=lfs diff=lfs merge=lfs -text
*.heif filter=lfs diff=lfs merge=lfs -text
*.hgr filter=lfs diff=lfs merge=lfs -text
*.hif filter=lfs diff=lfs merge=lfs -text
*.iff filter=lfs diff=lfs merge=lfs -text
*.ilbm filter=lfs diff=lfs merge=lfs -text
*.img filter=lfs diff=lfs merge=lfs -text
*.j2k filter=lfs diff=lfs merge=lfs -text
*.jfi filter=lfs diff=lfs merge=lfs -text
*.jfif filter=lfs diff=lfs merge=lfs -text
*.jif filter=lfs diff=lfs merge=lfs -text
*.jng filter=lfs diff=lfs merge=lfs -text
*.jp2 filter=lfs diff=lfs merge=lfs -text
*.jpe filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpm filter=lfs diff=lfs merge=lfs -text
*.jpx filter=lfs diff=lfs merge=lfs -text
*.jxl filter=lfs diff=lfs merge=lfs -text
*.jxr filter=lfs diff=lfs merge=lfs -text
*.kcf filter=lfs diff=lfs merge=lfs -text
*.kra filter=lfs diff=lfs merge=lfs -text
*.ktx filter=lfs diff=lfs merge=lfs -text
*.mj2 filter=lfs diff=lfs merge=lfs -text
*.mng filter=lfs diff=lfs merge=lfs -text
*.moto filter=lfs diff=lfs merge=lfs -text
*.msx filter=lfs diff=lfs merge=lfs -text
*.neo filter=lfs diff=lfs merge=lfs -text
*.odg filter=lfs diff=lfs merge=lfs -text
*.ora filter=lfs diff=lfs merge=lfs -text
*.paa filter=lfs diff=lfs merge=lfs -text
*.pac filter=lfs diff=lfs merge=lfs -text
*.paint filter=lfs diff=lfs merge=lfs -text
*.pbm filter=lfs diff=lfs merge=lfs -text
*.pc1 filter=lfs diff=lfs merge=lfs -text
*.pcc filter=lfs diff=lfs merge=lfs -text
*.pcx filter=lfs diff=lfs merge=lfs -text
*.pdn filter=lfs diff=lfs merge=lfs -text
*.pi1 filter=lfs diff=lfs merge=lfs -text
*.pic filter=lfs diff=lfs merge=lfs -text
*.pict filter=lfs diff=lfs merge=lfs -text
*.pik filter=lfs diff=lfs merge=lfs -text
*.pix filter=lfs diff=lfs merge=lfs -text
*.pkm filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.pnt filter=lfs diff=lfs merge=lfs -text
*.pph filter=lfs diff=lfs merge=lfs -text
*.ppm filter=lfs diff=lfs merge=lfs -text
*.prg filter=lfs diff=lfs merge=lfs -text
*.psb filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.qoi filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.rgb filter=lfs diff=lfs merge=lfs -text
*.rgb8 filter=lfs diff=lfs merge=lfs -text
*.rle filter=lfs diff=lfs merge=lfs -text
*.sai filter=lfs diff=lfs merge=lfs -text
*.sc0 filter=lfs diff=lfs merge=lfs -text
*.sc1 filter=lfs diff=lfs merge=lfs -text
*.sc2 filter=lfs diff=lfs merge=lfs -text
*.sc3 filter=lfs diff=lfs merge=lfs -text
*.sc4 filter=lfs diff=lfs merge=lfs -text
*.sc5 filter=lfs diff=lfs merge=lfs -text
*.sc6 filter=lfs diff=lfs merge=lfs -text
*.sc7 filter=lfs diff=lfs merge=lfs -text
*.sc8 filter=lfs diff=lfs merge=lfs -text
*.scr filter=lfs diff=lfs merge=lfs -text
*.sgx filter=lfs diff=lfs merge=lfs -text
*.spr filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.svgz filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.tny filter=lfs diff=lfs merge=lfs -text
*.vga filter=lfs diff=lfs merge=lfs -text
*.wbmp filter=lfs diff=lfs merge=lfs -text
*.wdp filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.wmf filter=lfs diff=lfs merge=lfs -text
*.wpm filter=lfs diff=lfs merge=lfs -text
*.xbm filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.act filter=lfs diff=lfs merge=lfs -text
*.col filter=lfs diff=lfs merge=lfs -text
# Executable Packages
*.apk filter=lfs diff=lfs merge=lfs -text
*.ear filter=lfs diff=lfs merge=lfs -text
*.ipa filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.phar filter=lfs diff=lfs merge=lfs -text
*.war filter=lfs diff=lfs merge=lfs -text
# # Installation Packages (ignore?)
# *.dmg filter=lfs diff=lfs merge=lfs -text
# *.xpi filter=lfs diff=lfs merge=lfs -text
# *.gem filter=lfs diff=lfs merge=lfs -text
# *.egg filter=lfs diff=lfs merge=lfs -text
# *.deb filter=lfs diff=lfs merge=lfs -text
# *.rpm filter=lfs diff=lfs merge=lfs -text
# *.msi filter=lfs diff=lfs merge=lfs -text
# *.msm filter=lfs diff=lfs merge=lfs -text
# *.msp filter=lfs diff=lfs merge=lfs -text
# # Compiled Object files (ignore?)
# *.class filter=lfs diff=lfs merge=lfs -text
# *.lo filter=lfs diff=lfs merge=lfs -text
# *.o filter=lfs diff=lfs merge=lfs -text
# *.pyc filter=lfs diff=lfs merge=lfs -text
# *.pyo filter=lfs diff=lfs merge=lfs -text
# *.slo filter=lfs diff=lfs merge=lfs -text
# # Precompiled Headers (ignore?)
# *.gch filter=lfs diff=lfs merge=lfs -text
# *.pch filter=lfs diff=lfs merge=lfs -text
# Compiled Dynamic libraries
*.dll filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
# Compiled Static libraries
*.a filter=lfs diff=lfs merge=lfs -text
*.la filter=lfs diff=lfs merge=lfs -text
*.lai filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
# Executables
*.app filter=lfs diff=lfs merge=lfs -text
*.elf filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
# Prevents massive diffs caused by vendored, minified files
**/.yarn/plugins/** filter=lfs diff=lfs merge=lfs -text
**/.yarn/releases/** filter=lfs diff=lfs merge=lfs -text
# Debugging 
# *.dwo filter=lfs diff=lfs merge=lfs -text
# *.pdb filter=lfs diff=lfs merge=lfs -text
# Serialization
*.aup3 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bson filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.p filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
# Video
*.3gp filter=lfs diff=lfs merge=lfs -text
*.3gpp filter=lfs diff=lfs merge=lfs -text
*.as filter=lfs diff=lfs merge=lfs -text
*.asf filter=lfs diff=lfs merge=lfs -text
*.asx filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.fla filter=lfs diff=lfs merge=lfs -text
*.flv filter=lfs diff=lfs merge=lfs -text
*.m4v filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text
*.ogv filter=lfs diff=lfs merge=lfs -text
*.swc filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
# Godot LFS Specific
*.anim filter=lfs diff=lfs merge=lfs -text
*.lmbake filter=lfs diff=lfs merge=lfs -text
*.material filter=lfs diff=lfs merge=lfs -text
*.mesh filter=lfs diff=lfs merge=lfs -text
*.pck filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.scn filter=lfs diff=lfs merge=lfs -text
# UE file types (just in case)
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
# Unity LFS (just in case)
*.cubemap lfs
*.unitypackage lfs
# Spine export file for Unity
*.skel.bytes lfs
# Exceptions for .asset files such as lightning pre-baking
LightingData.asset binary
# sources:
# https://github.com/gitattributes/gitattributes/tree/master
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.tres filter=lfs diff=lfs merge=lfs -text
*.import filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.tscn filter=lfs diff=lfs merge=lfs -text
*.gd filter=lfs diff=lfs merge=lfs -text
*.theme filter=lfs diff=lfs merge=lfs -text
*.godot filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.uid filter=lfs diff=lfs merge=lfs -text
*.2 filter=lfs diff=lfs merge=lfs -text
/addons/godot-git-plugin/LICENSE filter=lfs diff=lfs merge=lfs -text
*.gdextension filter=lfs diff=lfs merge=lfs -text
/addons/godot_state_charts/LICENSE filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
